
<%- include('header'); -%>
        <div class="box"  id="heading">
            <h1><%= listTitle %></h1>
        </div>
        <div class="box">  
            <% for (var i = 0; i < listitem.length; i++) { %>
                <div class="item">
                    <input type = "checkbox">
                    <p><%= listitem[i] %></p>
                    <!-- <button class="listbutton"type="delete" onclick="removeitem(i)"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
                </div>
                
            <% } %>
            <form class="item" action = "/" method="POST">
                <input type="text" placeholder="What r u gonna do today" name = "item" autocomplete="off">
                <button class="add" type="submit" name="button" value=<%= listTitle %>>+</button>
            </form>
            <!-- <form class="item" action = "/work" method="POST">
                <input type="text" placeholder="New work" name = "item" autocomplete="off">
                <button class="add" type="submit" name="button">+</button>
            </form> -->
        </div>
        <%- include('footer'); -%>